// Navigation Styles here
header {
  .flex(center, space-between,row);
}
.h1-box {
  border: 1px solid black;
}
.links {
  border: 1px solid black;
  width: 45%;
  height: 10vh;
  font-size: 1.8rem;
  .flex (center, space-between, row);
  a {
    text-decoration: none;
    color: black;
  }
}
