// Navigation Styles here
header {
  .flex(center, space-between,row);
}
.h1-box {
  border: 1px solid black;
  margin-left: 29%;
}
.links {
  border: 1px solid black;
  width: 20%;
  height: 10vh;
  margin-right: 29%;
  font-size: 1.8rem;
  .flex (center, space-between, row);
  a {
    text-decoration: none;
    color: black;
  }
}
